/* start of about page design */
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
body {
	/* height: 100vh; */
}

a {
	text-decoration: none;
}

#about {
	margin-left: 12.5%;
	padding-top: 3vh;
	width: 90%;
	justify-content: center;
	font-family: 'Reem Kufi', sans-serif;
	overflow-y: hidden;
}

#about h3 {
	word-spacing: 5px;
	text-align: center;
	margin-bottom: 0;
	color: white;
}

#covers {
	width: 90%;
	padding-left: 10%;
}

#covers img {
	padding: 1rem;
	width: 20rem;
}

#team img {
	padding: 1.5rem;
	padding-top: 1rem;
	width: 15rem;
}