body {
    color: white;
    /* font-style: italic; */
    text-align: center;
}
#yes.container{
    margin-right: auto;
    margin-left: auto;
    
}


#inputMain.container {
    margin-top: 20px;
}

#inputMain h2 {
    color: white;
    font-weight: 500;
}

#inputMain p {
    color: lightgray;
    
    margin-right: auto;
    margin-left: auto;
}

#inputMain input {
    width: 30rem;
    height: 2.5rem;
    margin-bottom:20px;
    text-align: center;
}

#inputMain button {
    width: 12rem;
}

#inputMain p{
    font-style: italic;
}

#charMain {
    margin-top: 5rem;
    display: none;
}


#charMain img {
    margin-top: 15px 0;
}

#charMain button {
    margin: 10px 0;
    width: 15rem;
}

#this_typed{
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
}
.typed-cursor{
    font-size: 40px;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}