/* Font families */
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&family=Roboto&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}

#logo {
    font-family: 'Reem Kufi', sans-serif;
<<<<<<< HEAD
=======
}

body {
    background-color: #181818;
}

.darkgreen {
    color: #218C31;
}

.bgdarkgreen {
    background-color: #218C31;
}

.lightgreen {
    color: #56BD66;
}

.bglightgreen {
    background-color: #56BD66;
>>>>>>> 97bd37f1a07b7b3fd1e898888944af2103a40fb6
}