/* Font families */
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&family=Roboto&display=swap');

/* Default CSS */
html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #181818;
}

#logo {
    font-family: 'Reem Kufi', sans-serif;
}

.darkgreen {
    color: #218C31;
}

.bgdarkgreen {
    background-color: #218C31;
}

.lightgreen {
    color: #56BD66;
}

.bglightgreen {
    background-color: #56BD66;
}

/* Navbar CSS */
#navbar {
    width: 15%;
    height: 100vh;
    /* padding: 20px; */
    font-size: 1.5vw;
    overflow: hidden;
    padding: 1vw;
    position: fixed;
    z-index: 1;
}

#header {
    display: fixed;
}

#navlinks {
    margin: 1vw 0;
    align-content: center;
}

#navbar a {
    color: white;
    padding: 0.5vw 2vw;
}

#navbar i {
    color: white;
    scale: 150%;
}

.nav-link:hover, .activeNavLink {
    background-color: #218C31;
    border: 1px #218C31 solid;
    border-radius: 2%;
    transition: all;
}

#icon {
    width: 100%;
}

/* Bottom Progress Bar CSS */
#footer {
    position: fixed;
    z-index: 1;
    /* top: 88vh; */
    bottom: 0;
    height: 8vw;
    border-top: rgb(46, 46, 46) 0.5px solid;
}

#upperBody {
    width: 300%;
    top: -10vw;
    position: absolute;
}

.ocean {
    /* min-height: 450px; */
    /* width: 100%; */
    /* margin: 0 auto; */
    /* max-width: 960px; */
    width: 4vw;
    position: relative;
    /* background: #015871; */
}

#progressbar {
    overflow: visible;
    z-index: 2;
    background-color: darkgrey;
    border-radius: 2px; 
    position: fixed;
    width: 70vw;
    bottom: 2vw;
    height: 0.5vw;
    margin-left: 22vw;
}

#progressbar:after {
    content: '';
    display: block;
    background-color: white;
    width: 33%; /* to change this width accordingly using jquery*/
    height: 100%;
    border-radius: 2px; 
}

/* Wave Animation for Progress Bar */
.wave {
    z-index: 4;
    background: url(https://cdn.kcak11.com/codepen_assets/wave_animation/wave.svg) repeat-x;
    filter: grayscale(20%);
    position: absolute;
    bottom: 0;
    width: 1000vw;
    height: 2vw; /* to change this width accordingly using jquery*/
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
    bottom: 25px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
}

@keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
}
@keyframes swell {
    0%,100% {
      transform: translate3d(0, -25px, 0);
    }
    50% {
      transform: translate3d(0, 5px, 0);
    }
}
@keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
}
@keyframes swell {
    0%, 100% {
      transform: translate3d(0, -25px, 0);
    }
    50% {
      transform: translate3d(0, 5px, 0);
    }
}

.endWave{
    display:none;
}