/* Font families */
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&family=Roboto&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #181818;
}

#logo {
    font-family: 'Reem Kufi', sans-serif;
}

#icon {
    width: 18%;
}

#navbar {
    width: 18vw;
    height: 100vh;
    /* padding: 20px; */
    font-size: 1.5vw;
    overflow: hidden;
    padding: 2%;
}

#navbar #logo {
    padding-left: 0.5vw;
}

#navbar a {
    color: white;
}

#navbar i {
    color: white;
    scale: 150%;
    margin: 10%;
}

.darkgreen {
    color: #218C31;
}

.bgdarkgreen {
    background-color: #218C31;
}

.lightgreen {
    color: #56BD66;
}

.bglightgreen {
    background-color: #56BD66;
}