body {
    color: white;
    /* font-style: italic; */
    text-align: center;
}

.container {
    margin-top: 15rem;
}

h2 {
    color: white;
    font-weight: 500;
}

p {
    color: lightgray;
    margin-bottom: 5px;
}

input {
    width: 30rem;
    height: 2.5rem;
    margin-bottom: 15px;
    text-align: center;
}

button {
    width: 12rem;
}

